* {
  padding: 0;
  margin: 0;
}

.hero {
  position: absolute;
}

.game-content {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}



#inventory{
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  bottom: 0px;
  left: 25rem;
}
/* game.component.css */
/* Modal */
.modal {
  display: none; /* Початково приховане */
  position: fixed; /* Закріплене на місці */
  z-index: 100; /* Поверх інших елементів */
  left: 0;
  top: 0;
  width: 100%; /* Повна ширина */
  height: 100%; /* Повна висота */
  overflow: auto; /* Дозволити прокрутку, якщо потрібно */
  background-color: rgba(0, 0, 0, 0.4); /* Чорний з прозорістю */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% від верху та по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Може бути більше або менше, залежно від розміру екрану */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.show {
  display: block; /* Показувати вікно, якщо клас 'show' встановлено */
}


#hero-bar{
  margin: -1rem;
  width: 400px;
  position: absolute;
  right: 0.5rem;
}

.hero-stats{
  z-index: 18;
  font-size: 20px;
position: absolute;
right: 9.5rem;
}

#level{
  font-size: 70px;
  font-weight: 900;
  z-index: 20;
  position: absolute;
right: 20.8rem;
top:0.7rem;
color:#532301 ;
}

#level-sign{
  font-size: 50px;
  font-weight: 600;
  z-index: 20;
  position: relative;
  left: 1rem;
  color:#532301 ;

}

.stats{
  font-size: 40px;
  z-index: 20;
  position: relative;
  left: 1.45rem;
  top:25px;
  color:#532301 ;

}

.stats>p{
  letter-spacing:9px;
    font-weight: 600;
padding-bottom: 12px;
}

button{
  background: none;
  border:none;
  background-image: url(../../../assets/images/button.png);
background-repeat: no-repeat;
width: 261!important;
height: 100px;
padding-inline: 3rem;
font-size: 30px;
color: #f7d89e;
display: flex;
align-items: center;
justify-self: center;
position: absolute;
left: 1rem;
}