<div class="game-container">
  <div class="game-content">
    <div>
      <h2>Level: {{ currentLevel }}</h2>
    </div>
    <div>
      <h2>Hero Stats</h2>
      <p>Health: {{ hero.health }}</p>
      <p>Attack: {{ hero.attack }}</p> <br>
      <p>Coins: {{ hero.coins }}</p>
      <p>Diamonds: {{ hero.diamonds }}</p>
    </div>


    <app-inventory class="inventory"></app-inventory>
<app-shop ></app-shop>
    <app-skill-tree></app-skill-tree>
  </div>
  <img
    src="../../../assets/images/player.png"
    alt="Hero"
    class="hero"
    [style.left.px]="hero.x"
    [style.top.px]="hero.y"
  />

  <app-monster
    *ngFor="let monster of monsters"
    [monster]="monsters"
  ></app-monster>

  <div class="modal" [ngClass]="{ show: gameOver }">
    <div class="modal-content">
      <p>Game Over!</p>
    </div>
  </div>
</div>
