.shop-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.button {
  background: none;
  border: none;
  background-image: url(../../../assets/images/button.png);
  background-repeat: no-repeat;
  width: 261px;
  height: 100px;
  padding-inline: 5.93rem;
  font-size: 30px;
  color: #f7d89e;
  display: flex;
  align-items: center;
  position: absolute;
  left: 280px;
}

.buy-btn {
  background: none;
  border: none;
  position: relative;
  padding: 10px;

  padding-inline: 2.2rem;

  background-repeat: no-repeat;

  background-image: url(../../../assets/images/small-btn.png);
}

.modal {
  color:#532301 ;

  display: none; /* Початково приховуємо модальне вікно */
  position: fixed; /* Залишаємо на місці */
  z-index: 10; /* Поверх інших елементів */
  left: 0;
  top: 0;
  width: 100%; /* Повна ширина */
  height: 100%; /* Повна висота */
  overflow: auto; /* Дозволяємо прокрутку, якщо потрібно */
  background-color: rgba(0, 0, 0, 0.4); /* Чорний з прозорістю */
}

.modal-content {
  font-size: 30px;
  background-color: #fed385;
  margin: 15% auto; /* 15% від верху та по центру */
  padding: 2rem;
  border: 1px solid #888;
  width: 30%;

}
.modal-content>ul{
  display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}
/* Клас show використовується для показу модального вікна */
.show {
  display: block;
}
