.skill-tree-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.shop-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.button {
  background: none;
  border: none;
  background-image: url(../../../assets/images/button.png);
  background-repeat: no-repeat;
  height: 100px;
  padding-inline: 6rem;
  font-size: 30px;
  color: #f7d89e;
  display: flex;
  align-items: center;
  position: absolute;
  left: 542px;
}

.buy-btn {
  background: none;
  border: none;
  position: relative;
  padding: 10px;
  padding-inline: 2.2rem;
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/small-btn.png);
}

.modal {
  color: #532301;

  display: none; 
  position: fixed; 
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: #f7d89e;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}
h2{
    color: #0c3c16;
display: flex;
justify-content: center;
padding-bottom: 10px;
}
.modal-content {
  font-size: 30px;
  background-color: #fed385;
  margin: 15% auto; 
  padding: 2rem;
  border: 1px solid #888;
  width: 30%;
}
.modal-content > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.show {
  display: block;
}

#close-modal{
  font-size: 18px;
}